{{- $currentPage := . }}
	<nav class="navbar is-fixed-top is-fresh no-shadow" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item has-text-white-ter"
				   href="{{ $.Site.BaseURL }}">{{- partial "logo.html" . -}}</a>
				<div class="navbar-burger" data-target="navMenu">
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
			</div>
			<div class="navbar-menu is-static" id="navMenu">
				<div class="navbar-end">
					{{ partial "navbar-menu.html" . }}
				</div>
			</div>
		</div>
	</nav>
