<section class="section is-default section-light-grey is-bold" itemscope itemtype="http://schema.org/HomePage">

		{{ partial "nav.html" . }}
		<!--<section class="section section-light-grey is-fullheight">-->
			<div class="container">
		    <div class="title-wrapper has-text-centered">
		      <h2 class="title is-2">StuDEVS</h2>
		      <h3 class="subtitle is-5 is-muted">Klassische Landingpage wo ein paar Infos zur Firma und ggfls. kleine News (neue Projekte/Studenten etc.) stehen.

		(Gewisser Teil "dynamik"/anpassungen an der website teilweise notwendig)</h3>
		      <div class="divider is-centered"></div>
		    </div>

		    <div class="content-wrapper">
		      <div class="columns">
		        <div class="column is-flex">
							<div class="card">
								<div class="card-image">
									<figure class="image is-3by3">
										<img src="http://studevs.ddnss.de/storage/Studenten.jpg" alt="Fur Studenten">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content has-text-centered">
											<p class="title is-4">Fur Studenten</p>
										</div>
									</div>
									<div class="content has-text-centered">
									Lorem ipsum dolor sit amet, ne case aliquip vituperata his. Choro epicuri albucius ne qui. Sea ei hinc decore, voluptua theophrastus ei eos.
									</div>
									<div class="card-action has-text-centered">
										<a href="/for-students/" class="button btn-align-md accent-btn raised">Mehr erfahren</a>
									</div>
								</div>
							</div>
		        </div>
		        <div class="column is-half is-flex">
							<div class="card">
								<div class="card-image">
									<figure class="image is-2by2">
										<img src="http://studevs.ddnss.de/storage/Studevs.jpg" alt="Uber StuDEVS">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content has-text-centered">
											<p class="title is-4">Uber StuDEVS</p>
										</div>
									</div>
									<div class="content has-text-centered">
								Wer sind wir?<br />
								Was machen wir?<br />
								We sind unsere Partner?
									</div>
									<div class="card-action has-text-centered">
										<a href="/projects/" class="button btn-align-md accent-btn raised">Mehr erfahren</a>
									</div>
								</div>
							</div>
		        </div>
		        <div class="column is-flex">
							<div class="card">
								<div class="card-image">
									<figure class="image is-2by2">
										<img src="http://studevs.ddnss.de/storage/Unternehmen.jpg" alt="Fur Unternemhen">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content has-text-centered">
											<p class="title is-4">Fur Unternemhen</p>
										</div>
									</div>
									<div class="content has-text-centered">
									Lorem ipsum dolor sit amet, ne case aliquip vituperata his. Choro epicuri albucius ne qui. Sea ei hinc decore, voluptua theophrastus ei eos.
									</div>
									<div class="card-action has-text-centered">
										<a href="/about/partners/" class="button btn-align-md accent-btn raised">Mehr erfahren</a>
									</div>
								</div>
							</div>
		        </div>
		      </div>
		    </div>
		  </div>
	<!--	</section>-->




</section>


{{ partial "footer.html" . }}

  <div id="backtotop"><a href="#"></a></div>
